:root {
    --principal: #e48033;
    --principal_hover: #f3832d;
    --principal_transparent: #fc9002;
    --secundario: #1867c0;
    --secundario_hover: #2a99f3c2;
    --fondo_app: #f2f2f2;
    --correcto: #d2e7c9;
    --transparente: #000000bd;
    --secundarion_transparente: #a14609d0;
    --progress: #4b5563;
}

.btn-warning {
    background-color: var(--principal);
    color: white;
}

.btn-warning:hover {
    background-color: var(--principal_hover);
}

/* HEADER */
.header-v4 .wrap-header-mobile,
.header-v4 .wrap-menu-desktop {
    background-color: var(--principal);
    color: white;
}

.header-v4 .wrap-menu-desktop .menu-desktop .main-menu li a {
    color: var(--transparente);
}

.header-v4 .wrap-menu-desktop .menu-desktop .main-menu .active-menu a {
    color: white;
}

/* PRODUCTOS */
#contenedor_productos .item_producto {
    padding: 15px;
}
#contenedor_productos .item_producto .block2 {
    padding: 5px;
    background-color: rgb(236, 236, 236);
    box-shadow: 3px 4px 5px 1px rgb(145, 145, 145);
}

#contenedor_productos .item_producto .block2 .descripcion {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#contenedor_productos .item_producto .block2 .block2-pic {
    height: 250px;
    overflow: hidden;
}
#contenedor_productos .item_producto .block2 .block2-pic img {
    height: 100%;
    object-fit: cover;
}

/* PAGINATION */
.pagination-container {
    display: flex;
    column-gap: 10px;
}
.paginate-buttons {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(217, 217, 217);
    color: black;
}
.paginate-buttons:hover {
    background-color: #d8d8d8;
}
.active-page {
    background-color: var(--principal);
    border: 1px solid var(--principal);
    color: white;
}
.active-page:hover {
    background-color: var(--principal);
}
